<a href="https://colab.research.google.com/github/ardex8752022/Distribution-of-goods-receipts-between-stores/blob/main/Project_3_Otchesova_A_V_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PROJECT-3. Решение комплексной бизнес-задач

## ЗАДАЧИ (ФОРМАЛИЗОВАННЫЕ):

    1. Построить рекомендательную систему, благодаря которой можно будет предлагать клиентам интересные им курсы. Для этого потребуется подготовить и проанализировать имеющиеся данные.
    2. Составить итоговую таблицу с рекомендациями, снабдив её необходимыми комментариями, и представить  продакт-менеджеру.
    3. Проанализировать результаты А/Б-теста, проведённого после внедрения фичи, сделать вывод.

**Для начала загрузим все необходимые библиотеки и проанализируем данные в , посмотрим, какие таблицы и с какими данными у нас есть**

In [ ]:
import pandas as pd
import numpy as np
from itertools import combinations
from collections import Counter
import psycopg2
import psycopg2.extras

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [ ]:
def getData():
    query = '''
select c.table_schema,
		c.table_name,
		c.column_name,
		c.data_type,
		c.ordinal_position
from information_schema.columns c
where c.table_schema = 'final'
    '''.format()
    conn = psycopg2.connect(dbname='skillfactory',
                            user='skillfactory',
                            host='84.201.134.129',
                            password='cCkxxLVrDE8EbvjueeMedPKt',
                            port=5432)
    dict_cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
    dict_cur.execute(query)
    rows = dict_cur.fetchall()
    data = []
    for row in rows:
        data.append(dict(row))
    dict_cur.close()
    conn.close()
    return data
df=pd.DataFrame(getData())
df

,table_schema,table_name,column_name,data_type,ordinal_position
0,final,cart_items,id,integer,1
1,final,cart_items,cart_id,integer,2
2,final,cart_items,created_at,timestamp without time zone,3
3,final,cart_items,updated_at,timestamp without time zone,4
4,final,cart_items,resource_type,character varying,5
5,final,cart_items,resource_id,integer,6
6,final,carts,id,integer,1
7,final,carts,created_at,timestamp without time zone,2
8,final,carts,updated_at,timestamp without time zone,3
9,final,carts,purchased_at,timestamp without time zone,4
10,final,carts,state,character varying,5
11,final,carts,user_id,integer,6
12,final,carts,promo_code_id,integer,7

**Объединим таблицы для дальнейшего анализа и проверим, за какие года есть продажи в наших данных, для этого отсортируем данные по успешными продажам курсов**

In [ ]:
def getData():
    query = '''
Select distinct(extract (year from c.purchased_at))
from final.carts c
join final.cart_items ci on c.id=ci.cart_id
where c.state='successful' and ci.resource_type='Course'
    '''.format()
    conn = psycopg2.connect(dbname='skillfactory',
                            user='skillfactory',
                            host='84.201.134.129',
                            password='cCkxxLVrDE8EbvjueeMedPKt',
                            port=5432)
    dict_cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
    dict_cur.execute(query)
    rows = dict_cur.fetchall()
    data = []
    for row in rows:
        data.append(dict(row))
    dict_cur.close()
    conn.close()
    return data
df=pd.DataFrame(getData())
df.head()

   date_part
0     2018.0
1     2017.0

**Сколько клиентов покупали курсы?**

In [ ]:
def getData():
    query = '''
Select count(distinct(c.user_id))
from final.carts c
join final.cart_items ci on c.id=ci.cart_id
where c.state='successful' and ci.resource_type='Course'
    '''.format()
    conn = psycopg2.connect(dbname='skillfactory',
                            user='skillfactory',
                            host='84.201.134.129',
                            password='cCkxxLVrDE8EbvjueeMedPKt',
                            port=5432)
    dict_cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
    dict_cur.execute(query)
    rows = dict_cur.fetchall()
    data = []
    for row in rows:
        data.append(dict(row))
    dict_cur.close()
    conn.close()
    return data
df=pd.DataFrame(getData())
df.head()

   count
0  49006

**Сколько всего есть различных курсов?**

In [ ]:
def getData():
    query = '''
Select count(distinct ci.resource_id)
from final.cart_items as ci
where ci.resource_type='Course'
    '''.format()
    conn = psycopg2.connect(dbname='skillfactory',
                            user='skillfactory',
                            host='84.201.134.129',
                            password='cCkxxLVrDE8EbvjueeMedPKt',
                            port=5432)
    dict_cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
    dict_cur.execute(query)
    rows = dict_cur.fetchall()
    data = []
    for row in rows:
        data.append(dict(row))
    dict_cur.close()
    conn.close()
    return data
df=pd.DataFrame(getData())
df.head()

   count
0    127

**Каково среднее число купленных курсов на одного клиента?**

In [ ]:
def getData():
    query = '''
Select round(avg(f.res),2)
from (Select count (ci.resource_id)/count(distinct c.user_id) res
from final.carts c inner join final.cart_items ci on c.id=ci.cart_id
where c.state='successful' and ci.resource_type='Course'
group by c.user_id)f
    '''.format()
    conn = psycopg2.connect(dbname='skillfactory',
                            user='skillfactory',
                            host='84.201.134.129',
                            password='cCkxxLVrDE8EbvjueeMedPKt',
                            port=5432)
    dict_cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
    dict_cur.execute(query)
    rows = dict_cur.fetchall()
    data = []
    for row in rows:
        data.append(dict(row))
    dict_cur.close()
    conn.close()
    return data
cart_items=pd.DataFrame(getData())
cart_items.head()

  round
0  1.44

**Сколько клиентов купили больше одного курса?**

In [ ]:
def getData():
    query = '''
Select sum(f.id)
from (select count(distinct c.user_id) id
from final.carts c inner join final.cart_items ci on c.id=ci.cart_id
where c.state='successful' and ci.resource_type='Course'
group by c.user_id
having count(distinct ci.resource_id)>1) f
    '''.format()
    conn = psycopg2.connect(dbname='skillfactory',
                            user='skillfactory',
                            host='84.201.134.129',
                            password='cCkxxLVrDE8EbvjueeMedPKt',
                            port=5432)
    dict_cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
    dict_cur.execute(query)
    rows = dict_cur.fetchall()
    data = []
    for row in rows:
        data.append(dict(row))
    dict_cur.close()
    conn.close()
    return data
cart_items=pd.DataFrame(getData())
cart_items.head()

     sum
0  12656

**Сформируем данные по продажам курсов в разрезе пользователей (по купившим больше одного курса)**

In [ ]:
def getData():
    query = '''
with user_tab as ( select c.user_id, count(ci.resource_id)
from final.carts c
join final.cart_items ci on c.id=ci.cart_id
where c.state='successful' and ci.resource_type='Course'
group by c.user_id
having count(distinct ci.resource_id)>1 )
select c.user_id, ci.resource_id
from final.carts c
inner join final.cart_items ci on c.id=ci.cart_id
inner join user_tab u on c.user_id=u.user_id
where c.state='successful' and ci.resource_type='Course';
    '''.format()
    conn = psycopg2.connect(dbname='skillfactory',
                            user='skillfactory',
                            host='84.201.134.129',
                            password='cCkxxLVrDE8EbvjueeMedPKt',
                            port=5432)
    dict_cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
    dict_cur.execute(query)
    rows = dict_cur.fetchall()
    data = []
    for row in rows:
        data.append(dict(row))
    dict_cur.close()
    conn.close()
    return data
final_df=pd.DataFrame(getData())
final_df.head()

   user_id  resource_id
0  1010882          490
1   906674          357
2   160494          507
3   749529          489
4  1010802          514

**Сохраним поученные данные в файл и далее перейдем к анализу на Python**

In [ ]:
final_df=pd.read_csv('final_df.csv')
final_df.head()

   user_id  resource_id
0  1010882          490
1   906674          357
2   160494          507
3   749529          489
4  1010802          514

**Удалим дубликаты**

In [ ]:
final_df=final_df.drop_duplicates()
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34074 entries, 0 to 34171
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      34074 non-null  int64
 1   resource_id  34074 non-null  int64
dtypes: int64(2)
memory usage: 798.6 KB

**Произведем анализ полученых данных**

In [ ]:
#Произведём группировку, чтобы каждому пользователю соответствовал список всех купленных им курсов
df_grouped=final_df.groupby(by='user_id')['resource_id'].apply(lambda x:list(x)).reset_index()
df_grouped

       user_id                resource_id
0           51                [516, 1099]
1         6117           [1125, 356, 357]
2        10275                [553, 1147]
3        10457                [361, 1138]
4        17166                 [356, 357]
...        ...                        ...
12651  2179430                 [566, 750]
12652  2186581           [794, 1129, 864]
12653  2187601  [356, 912, 571, 765, 553]
12654  2188926                 [743, 515]
12655  2190141           [794, 756, 1185]

[12656 rows x 2 columns]

In [ ]:
#Сколько различных пар курсов встречаются вместе в покупках клиентов?
courses_pairs =[]
for element in df_grouped['resource_id']:
    for pair in combinations(sorted(list(element)),2):
        courses_pairs.append(pair)

print('Количество различных пар курсов составляет: ', len(set (courses_pairs)))

Количество различных пар курсов составляет:  3989

In [ ]:
#Заведём переменную с парой самых популярных курсов для вывода значений по умолчанию вместо Nan рекомендаций
s={k: v for k, v in popular.items() if v == max(popular_pairs1.values())}
for d in s.keys():
    print(d)

(551, 566)

**Удаляем дубликаты и объединяем пары курсв в один столбец**

In [ ]:
df_cp = pd.DataFrame(courses_pairs,  columns=['cource_1', 'course_2']).astype(str)
df_cp.drop_duplicates()
df_cp['pair'] = df_cp['cource_1'] + "," + df_cp['course_2']
df_cp.describe(include='all')
df_cp

      cource_1 course_2      pair
0          516     1099  516,1099
1          356      357   356,357
2          356     1125  356,1125
3          357     1125  357,1125
4          553     1147  553,1147
...        ...      ...       ...
40012      765      912   765,912
40013      515      743   515,743
40014      756      794   756,794
40015      756     1185  756,1185
40016      794     1185  794,1185

[40017 rows x 3 columns]

**Считаем, сколько раз встречается каждая пара**

In [ ]:
grouped_cp=df_cp.groupby(by='pair').count()
grouped_cp=grouped_cp.reset_index()
grouped_cp=grouped_cp[['pair', 'cource_1']].rename(columns={'cource_1':'count'})
grouped_cp

           pair  count
0     1099,1100      5
1     1099,1101      2
2     1099,1102      2
3     1099,1103      4
4     1099,1125      4
...         ...    ...
3984   912,1144      2
3985   912,1156      1
3986   912,1186      9
3987   912,1187      1
3988   912,1198      3

[3989 rows x 2 columns]

## Теперь создаем таблицу с рекомендациями для продакт-менеджера и отдела маркетинга.

In [ ]:
#Оставим для анализа пары курсов, поввторяющиеся большее количество раз, для этого зададим 80 процентиль
x=np.percentile(grouped_cp['count'], 80)
x

11.0

In [ ]:
popular_pairs1= {k: v for k, v in sorted(popular.items(), key = lambda item: item[1], reverse = True) if v>x}
popular_pairs1

{(551, 566): 797,
 (515, 551): 417,
 (489, 551): 311,
 (523, 551): 304,
 (566, 794): 290,
 (489, 515): 286,
 (490, 566): 253,
 (490, 551): 247,
 (570, 752): 247,
 (569, 572): 216,
 (515, 523): 213,
 (553, 745): 212,
 (489, 523): 206,
 (569, 840): 204,
 (514, 551): 200,
 (516, 745): 199,
 (515, 566): 195,
 (489, 566): 188,
 (504, 572): 184,
 (572, 840): 178,
 (551, 552): 177,
 (507, 570): 172,
 (490, 809): 163,
 (489, 490): 152,
 (507, 752): 150,
 (523, 552): 144,
 (490, 515): 143,
 (551, 570): 142,
 (504, 569): 139,
 (514, 515): 139,
 (551, 745): 138,
 (514, 566): 138,
 (502, 551): 135,
 (504, 840): 135,
 (571, 1125): 122,
 (502, 566): 120,
 (523, 566): 120,
 (570, 809): 119,
 (752, 809): 115,
 (490, 523): 114,
 (357, 571): 112,
 (523, 564): 110,
 (551, 749): 109,
 (516, 553): 107,
 (551, 777): 107,
 (551, 679): 104,
 (356, 571): 103,
 (551, 564): 103,
 (515, 749): 103,
 (568, 745): 102,
 (356, 357): 100,
 (363, 511): 99,
 (551, 571): 98,
 (551, 809): 96,
 (502, 514): 95,
 (551, 794): 95,
 (490, 514): 94,
 (566, 764): 92,
 (490, 564): 92,
 (566, 570): 92,
 (551, 764): 91,
 (489, 552): 89,
 (502, 515): 89,
 (515, 552): 88,
 (519, 551): 86,
 (489, 564): 86,
 (515, 764): 84,
 (507, 551): 84,
 (553, 568): 83,
 (571, 765): 83,
 (514, 523): 83,
 (564, 566): 83,
 (566, 809): 79,
 (489, 514): 78,
 (507, 809): 78,
 (363, 562): 77,
 (489, 679): 77,
 (551, 1103): 76,
 (571, 912): 74,
 (504, 551): 73,
 (570, 1115): 73,
 (519, 523): 72,
 (552, 564): 72,
 (516, 551): 72,
 (551, 752): 72,
 (566, 749): 70,
 (752, 1115): 69,
 (507, 566): 68,
 (745, 1139): 67,
 (489, 502): 67,
 (523, 679): 67,
 (515, 564): 67,
 (490, 794): 67,
 (552, 566): 66,
 (566, 745): 66,
 (515, 794): 66,
 (504, 566): 66,
 (840, 1161): 65,
 (489, 809): 65,
 (490, 743): 65,
 (551, 750): 64,
 (514, 552): 63,
 (366, 551): 63,
 (566, 1103): 62,
 (523, 570): 62,
 (489, 519): 61,
 (514, 764): 61,
 (551, 572): 61,
 (507, 508): 61,
 (514, 570): 60,
 (503, 551): 60,
 (509, 745): 59,
 (502, 523): 59,
 (523, 764): 59,
 (523, 572): 59,
 (551, 840): 59,
 (507, 514): 58,
 (523, 571): 57,
 (566, 679): 57,
 (489, 764): 57,
 (809, 1115): 57,
 (523, 809): 57,
 (551, 664): 56,
 (511, 562): 55,
 (912, 1125): 55,
 (515, 519): 55,
 (566, 750): 55,
 (551, 569): 55,
 (503, 513): 55,
 (489, 794): 55,
 (516, 568): 54,
 (566, 571): 54,
 (523, 752): 54,
 (508, 570): 54,
 (562, 563): 53,
 (745, 1099): 53,
 (568, 1099): 53,
 (357, 1125): 52,
 (517, 551): 52,
 (552, 679): 51,
 (551, 776): 51,
 (357, 551): 51,
 (515, 679): 51,
 (551, 741): 51,
 (551, 659): 50,
 (566, 752): 50,
 (564, 809): 50,
 (514, 809): 50,
 (519, 552): 49,
 (361, 551): 49,
 (509, 553): 48,
 (356, 551): 48,
 (566, 757): 48,
 (515, 570): 48,
 (502, 794): 48,
 (509, 568): 46,
 (367, 551): 46,
 (490, 764): 46,
 (515, 777): 45,
 (523, 777): 45,
 (366, 515): 45,
 (356, 1125): 44,
 (569, 1161): 44,
 (366, 523): 44,
 (490, 502): 44,
 (551, 553): 43,
 (523, 745): 43,
 (523, 840): 43,
 (566, 569): 43,
 (508, 752): 43,
 (765, 1125): 42,
 (515, 516): 42,
 (750, 753): 42,
 (489, 570): 42,
 (679, 777): 41,
 (507, 1115): 41,
 (551, 562): 41,
 (566, 572): 41,
 (361, 1138): 40,
 (514, 752): 40,
 (503, 664): 40,
 (503, 1140): 40,
 (566, 840): 40,
 (515, 809): 40,
 (566, 741): 40,
 (490, 570): 40,
 (553, 1099): 39,
 (551, 1100): 39,
 (515, 571): 39,
 (518, 551): 39,
 (489, 777): 39,
 (566, 777): 39,
 (794, 809): 39,
 (749, 794): 39,
 (514, 745): 38,
 (357, 765): 38,
 (366, 489): 38,
 (367, 515): 38,
 (523, 569): 38,
 (513, 551): 38,
 (564, 679): 37,
 (489, 741): 37,
 (552, 777): 37,
 (502, 552): 37,
 (551, 672): 36,
 (514, 571): 36,
 (908, 1100): 36,
 (1100, 1102): 36,
 (515, 1103): 36,
 (514, 794): 36,
 (504, 514): 36,
 (503, 566): 36,
 (509, 516): 35,
 (356, 514): 35,
 (489, 571): 35,
 (356, 765): 35,
 (523, 794): 35,
 (489, 1103): 35,
 (523, 1103): 35,
 (794, 1103): 35,
 (502, 570): 35,
 (490, 518): 35,
 (514, 564): 35,
 (519, 566): 35,
 (513, 1141): 34,
 (517, 750): 34,
 (356, 912): 34,
 (765, 912): 34,
 (551, 829): 34,
 (523, 750): 34,
 (745, 794): 34,
 (551, 791): 34,
 (551, 757): 34,
 (490, 757): 34,
 (742, 1141): 34,
 (363, 563): 33,
 (1100, 1103): 33,
 (502, 764): 33,
 (523, 741): 33,
 (552, 572): 33,
 (570, 755): 33,
 (552, 750): 33,
 (514, 572): 33,
 (363, 551): 33,
 (490, 1103): 33,
 (745, 1187): 32,
 (523, 1100): 32,
 (552, 764): 32,
 (515, 745): 32,
 (361, 502): 32,
 (515, 750): 32,
 (566, 756): 32,
 (809, 908): 32,
 (551, 756): 32,
 (509, 1099): 31,
 (564, 1100): 31,
 (552, 570): 31,
 (515, 664): 31,
 (504, 515): 31,
 (552, 829): 30,
 (679, 764): 30,
 (564, 794): 30,
 (490, 552): 30,
 (551, 1115): 30,
 (566, 829): 30,
 (750, 829): 30,
 (516, 566): 30,
 (566, 776): 29,
 (519, 745): 29,
 (489, 752): 29,
 (564, 764): 29,
 (840, 1145): 29,
 (368, 572): 29,
 (514, 777): 29,
 (502, 564): 28,
 (489, 745): 28,
 (518, 523): 28,
 (366, 490): 28,
 (564, 741): 28,
 (489, 504): 28,
 (489, 517): 28,
 (551, 753): 28,
 (357, 514): 28,
 (514, 679): 28,
 (507, 515): 28,
 (489, 908): 28,
 (572, 1161): 28,
 (523, 562): 28,
 (764, 794): 28,
 (809, 1100): 28,
 (562, 777): 28,
 (504, 523): 28,
 (553, 1139): 27,
 (1125, 1186): 27,
 (571, 1144): 27,
 (523, 829): 27,
 (553, 1187): 27,
 (777, 794): 27,
 (517, 523): 27,
 (752, 1184): 27,
 (514, 757): 27,
 (368, 569): 27,
 (504, 794): 27,
 (743, 757): 27,
 (356, 489): 26,
 (745, 1147): 26,
 (552, 571): 26,
 (515, 517): 26,
 (552, 840): 26,
 (502, 776): 26,
 (564, 908): 26,
 (507, 1184): 26,
 (570, 1184): 26,
 (515, 569): 26,
 (570, 794): 26,
 (566, 908): 26,
 (502, 809): 26,
 (366, 566): 26,
 (551, 1152): 26,
 (514, 840): 26,
 (516, 1099): 25,
 (366, 367): 25,
 (489, 516): 25,
 (519, 679): 25,
 (672, 745): 25,
 (552, 741): 25,
 (552, 752): 25,
 (564, 814): 25,
 (516, 523): 25,
 (489, 507): 25,
 (514, 1103): 25,
 (515, 741): 25,
 (664, 791): 25,
 (515, 518): 25,
 (515, 752): 25,
 (358, 570): 25,
 (566, 791): 25,
 (562, 566): 25,
 (490, 1152): 25,
 (552, 756): 25,
 (356, 523): 24,
 (552, 1100): 24,
 (551, 568): 24,
 (566, 1100): 24,
 (564, 571): 24,
 (523, 776): 24,
 (551, 1125): 24,
 (357, 912): 24,
 (523, 909): 24,
 (750, 794): 24,
 (552, 794): 24,
 (566, 664): 24,
 (515, 572): 24,
 (552, 809): 24,
 (502, 504): 24,
 (566, 743): 24,
 (519, 571): 23,
 (551, 765): 23,
 (361, 672): 23,
 (523, 1115): 23,
 (504, 552): 23,
 (502, 679): 23,
 (517, 753): 23,
 (1100, 1101): 23,
 (517, 552): 23,
 (679, 741): 23,
 (366, 552): 23,
 (551, 814): 23,
 (514, 750): 23,
 (515, 840): 23,
 (764, 777): 23,
 (502, 507): 23,
 (368, 504): 23,
 (368, 523): 23,
 (515, 757): 23,
 (764, 809): 23,
 (515, 756): 23,
 (368, 840): 23,
 (357, 502): 23,
 (489, 749): 23,
 (1125, 1144): 22,
 (571, 745): 22,
 (568, 1139): 22,
 (516, 519): 22,
 (367, 489): 22,
 (489, 840): 22,
 (564, 777): 22,
 (776, 777): 22,
 (752, 1104): 22,
 (503, 742): 22,
 (659, 750): 22,
 (794, 840): 22,
 (513, 742): 22,
 (664, 1140): 22,
 (571, 794): 22,
 (489, 757): 22,
 (752, 755): 22,
 (508, 514): 22,
 (570, 1103): 22,
 (514, 829): 22,
 (367, 566): 22,
 (489, 518): 22,
 (514, 756): 22,
 (566, 659): 22,
 (368, 551): 22,
 (504, 1161): 22,
 (514, 749): 22,
 (517, 566): 21,
 (523, 553): 21,
 (490, 571): 21,
 (552, 776): 21,
 (764, 776): 21,
 (745, 1103): 21,
 (672, 1138): 21,
 (745, 1100): 21,
 (777, 1103): 21,
 (564, 829): 21,
 (357, 516): 21,
 (356, 515): 21,
 (489, 750): 21,
 (514, 664): 21,
 (490, 750): 21,
 (508, 809): 21,
 (514, 516): 21,
 (517, 519): 21,
 (840, 1103): 21,
 (366, 502): 21,
 (551, 908): 21,
 (490, 749): 21,
 (566, 1152): 21,
 (508, 566): 21,
 (523, 756): 21,
 (356, 566): 21,
 (363, 566): 20,
 (523, 672): 20,
 (1099, 1139): 20,
 (489, 1100): 20,
 (489, 572): 20,
 (515, 776): 20,
 (1102, 1103): 20,
 (519, 777): 20,
 (523, 664): 20,
 (361, 516): 20,
 (514, 519): 20,
 (515, 1100): 20,
 (511, 551): 20,
 (552, 569): 20,
 (489, 562): 20,
 (572, 1103): 20,
 (752, 1181): 20,
 (569, 794): 20,
 (502, 519): 20,
 (490, 679): 20,
 (564, 572): 20,
 (504, 764): 20,
 (749, 757): 20,
 (511, 563): 19,
 (566, 1125): 19,
 (502, 571): 19,
 (523, 765): 19,
 (564, 752): 19,
 (357, 566): 19,
 (764, 1103): 19,
 (357, 515): 19,
 (489, 569): 19,
 (502, 745): 19,
 (552, 664): 19,
 (358, 752): 19,
 (570, 764): 19,
 (502, 569): 19,
 (502, 572): 19,
 (566, 909): 19,
 (503, 791): 19,
 (566, 1115): 19,
 (513, 566): 19,
 (907, 1103): 19,
 (572, 794): 19,
 (551, 912): 18,
 (366, 519): 18,
 (519, 564): 18,
 (357, 523): 18,
 (515, 553): 18,
 (571, 1103): 18,
 (516, 1187): 18,
 (564, 1116): 18,
 (679, 776): 18,
 (571, 1186): 18,
 (659, 671): 18,
 (750, 777): 18,
 (551, 1102): 18,
 (513, 514): 18,
 (1140, 1185): 18,
 (672, 813): 18,
 (357, 361): 18,
 (362, 363): 18,
 (508, 551): 18,
 (752, 777): 18,
 (679, 1103): 18,
 (502, 752): 18,
 (564, 570): 18,
 (569, 1145): 18,
 (809, 1104): 18,
 (514, 562): 18,
 (564, 1102): 18,
 (367, 523): 18,
 (570, 777): 18,
 (809, 1103): 18,
 (679, 794): 18,
 (551, 742): 18,
 (503, 1185): 18,
 (504, 564): 18,
 (368, 515): 18,
 (507, 794): 18,
 (840, 1100): 18,
 (356, 502): 17,
 (745, 1146): 17,
 (553, 571): 17,
 (551, 909): 17,
 (361, 745): 17,
 (360, 745): 17,
 (504, 679): 17,
 (566, 765): 17,
 (564, 750): 17,
 (750, 809): 17,
 (745, 764): 17,
 (514, 776): 17,
 (502, 840): 17,
 (572, 1145): 17,
 (752, 1103): 17,
 (570, 679): 17,
 (357, 745): 17,
 (356, 361): 17,
 (809, 1184): 17,
 (523, 757): 17,
 (679, 1102): 17,
 (363, 514): 17,
 (502, 741): 17,
 (745, 765): 17,
 (490, 777): 17,
 (756, 764): 17,
 (570, 757): 17,
 (553, 1147): 16,
 (551, 744): 16,
 (519, 672): 16,
 (1099, 1187): 16,
 (519, 1100): 16,
 (519, 553): 16,
 (509, 1139): 16,
 (502, 1100): 16,
 (515, 829): 16,
 (679, 745): 16,
 (523, 1125): 16,
 (764, 829): 16,
 (571, 1100): 16,
 (518, 566): 16,
 (517, 745): 16,
 (366, 745): 16,
 (489, 1115): 16,
 (551, 743): 16,
 (571, 750): 16,
 (361, 571): 16,
 (659, 753): 16,
 (357, 553): 16,
 (829, 908): 16,
 (829, 1100): 16,
 (513, 664): 16,
 (359, 570): 16,
 (518, 519): 16,
 (1115, 1184): 16,
 (489, 664): 16,
 (552, 1103): 16,
 (519, 752): 16,
 (752, 764): 16,
 (679, 1100): 16,
 (551, 1140): 16,
 (502, 777): 16,
 (566, 744): 16,
 (764, 840): 16,
 (502, 503): 16,
 (356, 516): 16,
 (361, 515): 16,
 (523, 749): 16,
 (809, 829): 16,
 (358, 551): 16,
 (562, 794): 16,
 (489, 909): 16,
 (743, 809): 16,
 (776, 794): 16,
 (511, 566): 16,
 (809, 1116): 16,
 (490, 670): 16,
 (514, 569): 16,
 (507, 1104): 16,
 (745, 1125): 15,
 (509, 551): 15,
 (523, 753): 15,
 (356, 366): 15,
 (571, 679): 15,
 (553, 566): 15,
 (366, 571): 15,
 (489, 1116): 15,
 (552, 1102): 15,
 (1100, 1116): 15,
 (523, 908): 15,
 (908, 1102): 15,
 (552, 753): 15,
 (745, 776): 15,
 (358, 359): 15,
 (551, 755): 15,
 (361, 566): 15,
 (515, 1125): 15,
 (515, 791): 15,
 (570, 1100): 15,
 (507, 764): 15,
 (757, 794): 15,
 (507, 552): 15,
 (1141, 1188): 15,
 (489, 756): 15,
 (564, 840): 15,
 (523, 907): 15,
 (566, 670): 15,
 (514, 741): 15,
 (743, 749): 15,
 (551, 1138): 14,
 (502, 1103): 14,
 (356, 519): 14,
 (551, 1144): 14,
 (489, 829): 14,
 (515, 765): 14,
 (552, 745): 14,
 (552, 659): 14,
 (515, 568): 14,
 (566, 568): 14,
 (489, 765): 14,
 (489, 814): 14,
 (552, 1115): 14,
 (489, 907): 14,
 (552, 907): 14,
 (552, 1101): 14,
 (572, 679): 14,
 (571, 777): 14,
 (517, 659): 14,
 (516, 794): 14,
 (523, 1102): 14,
 (1101, 1102): 14,
 (489, 776): 14,
 (519, 776): 14,
 (829, 1103): 14,
 (503, 515): 14,
 (489, 1102): 14,
 (566, 814): 14,
 (502, 517): 14,
 (504, 1145): 14,
 (752, 794): 14,
 (679, 908): 14,
 (516, 571): 14,
 (750, 752): 14,
 (366, 368): 14,
 (507, 523): 14,
 (750, 1103): 14,
 (551, 1116): 14,
 (489, 1152): 14,
 (490, 829): 14,
 (552, 908): 14,
 (490, 1100): 14,
 (659, 794): 14,
 (566, 907): 14,
 (570, 743): 14,
 (564, 1103): 13,
 (519, 809): 13,
 (366, 516): 13,
 (519, 765): 13,
 (519, 568): 13,
 (571, 776): 13,
 (523, 659): 13,
 (568, 1187): 13,
 (518, 552): 13,
 (356, 490): 13,
 (1103, 1125): 13,
 (489, 1101): 13,
 (679, 907): 13,
 (679, 1101): 13,
 (566, 912): 13,
 (551, 810): 13,
 (1124, 1128): 13,
 (489, 1125): 13,
 (1125, 1138): 13,
 (679, 750): 13,
 (672, 776): 13,
 (514, 1115): 13,
 (908, 1116): 13,
 (367, 552): 13,
 (679, 809): 13,
 (752, 908): 13,
 (357, 519): 13,
 (361, 1125): 13,
 (664, 777): 13,
 (777, 840): 13,
 (490, 908): 13,
 (908, 909): 13,
 (502, 829): 13,
 (502, 562): 13,
 (514, 791): 13,
 (809, 1152): 13,
 (794, 1100): 13,
 (794, 908): 13,
 (562, 679): 13,
 (570, 750): 13,
 (511, 514): 13,
 (515, 562): 13,
 (552, 562): 13,
 (490, 756): 13,
 (752, 1100): 13,
 (519, 741): 13,
 (502, 750): 13,
 (572, 1100): 13,
 (515, 659): 13,
 (564, 569): 13,
 (490, 907): 13,
 (502, 908): 13,
 (503, 514): 13,
 (514, 1102): 13,
 (502, 757): 13,
 (515, 908): 13,
 (566, 1116): 13,
 (794, 814): 13,
 (503, 794): 13,
 (516, 552): 12,
 (1099, 1147): 12,
 (489, 553): 12,
 (568, 571): 12,
 (571, 764): 12,
 (552, 909): 12,
 (764, 909): 12,
 (518, 564): 12,
 (356, 367): 12,
 (777, 1100): 12,
 (523, 1116): 12,
 (679, 840): 12,
 (564, 776): 12,
 (745, 750): 12,
 (517, 564): 12,
 (514, 553): 12,
 (523, 1101): 12,
 (360, 516): 12,
 (776, 1103): 12,
 (489, 511): 12,
 (551, 1185): 12,
 (553, 1125): 12,
 (519, 908): 12,
 (664, 742): 12,
 (750, 764): 12,
 (502, 516): 12,
 (572, 777): 12,
 (570, 1104): 12,
 (566, 753): 12,
 (564, 907): 12,
 (907, 908): 12,
 (361, 514): 12,
 (514, 765): 12,
 (679, 752): 12,
 (570, 1181): 12,
 (564, 757): 12,
 (1104, 1115): 12,
 (366, 764): 12,
 (515, 743): 12,
 (515, 1152): 12,
 (1101, 1103): 12,
 (511, 523): 12,
 (359, 507): 12,
 (515, 753): 12,
 (508, 1115): 12,
 (1140, 1141): 12,
 (679, 756): 12,
 (502, 749): 12,
 (515, 814): 12,
 (570, 749): 12}

Таким образом мы определили минимальный порог повторений для каждой пары для определения популярности курсов. Минимальный порог = 11 повторений, достаточный для того, чтобы считать курс популярным.

Теперь создадим список уникальных индентификаторов курсов, к которым будем добавлять рекомендации

In [ ]:
course = final_df['resource_id'].unique()
course

array([ 490,  357,  507,  489,  514,  552,  515,  523,  569,  363,  553,
        572,  502,  359,  551,  809,  516,  563,  513,  504,  509,  368,
       1144,  776,  741,  508,  777,  745,  362,  566,  356,  794,  358,
        519,  742,  679, 1103,  503,  750,  564,  361,  571,  562,  752,
        367,  756, 1104,  360,  364,  764,  670,  743,  753,  659,  366,
        568,  518, 1102,  862,  570,  791, 1116, 1101, 1100,  664,  511,
        365,  840,  517, 1141, 1128,  757, 1146, 1152,  749,  829,  744,
        909,  755,  765, 1099, 1139,  908, 1129,  814,  837,  912, 1145,
        672, 1147, 1125, 1138, 1140,  803, 1188,  810, 1161, 1184,  813,
        907,  671, 1156, 1115, 1124, 1187, 1181,  864, 1186,  863,  830,
        835,  800,  833,  866,  865,  911, 1185,  834,  836, 1182, 1200,
       1198, 1199,  902, 1160, 1201], dtype=int64)

In [ ]:
# Создадим функцию recommend, которая будет рекомендовать 1-ый и 2-ой по популярности курс к основному курсу:
def recommend(course):
    course_list = []
    for i in popular_pairs1.keys():
        if i[0] == course:
            course_list.append((i, popular_pairs1[i]))
    sorted_course_list = sorted(course_list, key = lambda x: x[1], reverse = True)
    return sorted_course_list[:2] #выводим только два значения

In [ ]:
# Создадим цикл, который для каждого основного курса извлекает 2-ое значение пары согласно уникальным значениям курсов:
#По умолчанию вместо Nan значений используем данные самых продаваемых курсов
recommended_courses1 = pd.DataFrame(columns = ['Рекомендация № 1', 'Рекомендация № 2'])
for i in course:
    if len(recommend(i)) == 2: #когда функция выдаёт 2 рекомендации
        recommended_courses1.loc[i] = [recommend(i)[0][0][1], recommend(i)[1][0][1]]
    elif len(recommend(i)) == 1: #когда функция выдаёт 1 рекомендацию  и одно значение по умолчанию вместо Nan
            recommended_courses1.loc[i] = [recommend(i)[0][0][1], d[1]]
    else:
        recommended_courses1.loc[i] = [d[0], d[1]]  #когда функция выдаёт два значения по умолчанию

In [ ]:
#Проверим получившиеся данные на наличие пустых значений
b =  recommended_courses1.isnull().sum().sum()
b
recommended_courses1

     Рекомендация № 1 Рекомендация № 2
490               566              551
357               571             1125
507               570              752
489               551              515
514               551              515
...               ...              ...
1198              551              566
1199              551              566
902               551              566
1160              551              566
1201              551              566

[126 rows x 2 columns]

In [ ]:
#Создадим итоговую таблицу с основным курсом и двумя рекомендациями
recommended=recommended_courses1.reset_index().rename(columns={'index':'Основной курс'})
recommended

     Основной курс Рекомендация № 1 Рекомендация № 2
0              490              566              551
1              357              571             1125
2              507              570              752
3              489              551              515
4              514              551              515
..             ...              ...              ...
121           1198              551              566
122           1199              551              566
123            902              551              566
124           1160              551              566
125           1201              551              566

[126 rows x 3 columns]

In [ ]:
#Сохраним получившийся датафрейм в Excel для отправки таблицы с рекомендациями продакт-менеджеру и в отдел маркетинга
for_printing = pd.ExcelWriter('Recomendations.xlsx')
recommended.to_excel(for_printing)
for_printing.save()